{extend name="common/best" /}
<!--主体-->
{block name="rd"}
<!--右侧主体区域部分 start-->
<div class="col-xs-12 col-sm-9 col-lg-10">
    <ol class="breadcrumb" style="background-color: #f9f9f9;padding:8px 0;margin-bottom:10px;">
        <li>
            <a href=""><i class="fa fa-cogs"></i>
                栏目管理</a>
        </li>
        <li class="active">
            <a href="">栏目添加</a>
        </li>

    </ol>
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="{:url('admin/cate/lst')}">栏目列表</a></li>
        <li><a href="{:url('admin/cate/add')}">添加栏目</a></li>
    </ul>
    <form action="" method="post">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th  class="text-center" width="10%">栏目ID</th>
                        <th  class="text-center" width="10%">栏目中文名称</th>
                        <th  class="text-center" width="10%">栏目英文名称</th>
                        <th  class="text-center" width="10%">栏目栏排序</th>
                        <th  class="text-center" width="10%">栏目类型</th>
                        <th  class="text-center" width="10%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="lst" id="lst"}
                    <tr>
                        <td class="text-center">{$lst.id}</td>
                        <td>{$lst.catename}</td>
                        <td class="text-center">{$lst.cate_ename}</td>
                        <td class="text-center">{$lst.sort}</td>

                        <td class="text-center">{if($lst.type) == 0 }列表页{else}单页{/if}</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">操作 <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="{:url('addid',['id' => $lst.id])}">添加子类</a></li>
                                    <li><a href="{:url('edit',['id' => $lst.id])}">编辑</a></li>
                                    <li class="divider"></li>
                                    <!--<li><a href="javascript:;">删除</a></li>-->
                                    <li><a href="{:url('del',['id' => $lst.id])}">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
        </div>
    </form>

</div>
<!--右侧主体区域部分结束 end-->
</div>
{/block}


